/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Alegreya+Sans+SC&family=Righteous&display=swap');

$font-family-sans-serif: "Questrial" !default;
$headings-font-family: "Alegreya Sans SC" !default;

.navbar{
  font-family: "Alegreya Sans SC";
  font-size: 22px;
}